<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Pluto - Responsive Bootstrap Admin Panel Templates</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icon -->
      <link rel="icon" href="{% static 'admin/images/fevicon.png' %}" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'admin/css/bootstrap.min.css' %}" />
      <!-- site css -->
      <link rel="stylesheet" href="{% static 'admin/style.css' %}" />
      <!-- responsive css -->
      <link rel="stylesheet" href="{% static 'admin/css/responsive.css' %}" />
      <!-- color css -->
      <link rel="stylesheet" href="{% static 'admin/css/colors.css' %}" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="{% static 'admin/css/bootstrap-select.css' %}" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="{% static 'admin/css/perfect-scrollbar.css' %}" />
      <!-- custom css -->
      <link rel="stylesheet" href="{% static 'admin/css/custom.css' %}" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js" integrity="sha512-F636MAkMAhtTplahL9F6KmTfxTmYcAcjcCkyu0f0voT3N/6vzAuJ4Num55a0gEJ+hRLHhdz3vDvZpf6kqgEa5w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

      <![endif]-->
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
               <div class="sidebar_blog_1">
                  <div class="sidebar-header">
                     <div class="logo_section">
                        <!--<a href="index.html"><img class="logo_icon img-responsive" src="{% static 'admin/images/logo/logo_icon.png' %}" alt="#" /></a>-->
                     </div>
                  </div>
                  <div class="sidebar_user_info">
                     <div class="icon_setting"></div>
                     <div class="user_profle_side">
                        <div class="user_img"><img class="img-responsive" src="{% static 'admin/images/layout_img/fl.png' %}" alt="#" /></div>
                        <div class="user_info">
                           <h6>Anjali Vijayan</h6>
                           <p><span class="online_animation"></span> Online</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="sidebar_blog_2">
                  <h4>ADMIN</h4>
                  <ul class="list-unstyled components">
                     <li class="active">
                        <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-dashboard yellow_color"></i> <span>Trainer</span></a>
                        <ul class="collapse list-unstyled" id="dashboard">
                           <li>
                              <a href="/AddTrainer/"> <span>AddTrainer</span></a>
                           </li>
                           <li>
                              <a href="/ViewTrainer/"> <span>ViewTrainer</span></a>
                           </li>
                        </ul>
                     </li>
                     <ul class="list-unstyled components">
                     <li class="active">
                        <a href="#dashboard1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-dashboard yellow_color"></i> <span>Doctor</span></a>
                        <ul class="collapse list-unstyled" id="dashboard1">
                           <li>
                              <a href="/AddDoctor/">> <span>AddDoctor</span></a>
                           </li>
                           <li>
                              <a href="/ViewDoctor/"> <span>ViewDoctor</span></a>
                           </li>
                        </ul>
                     </li>
                     <li class="active">
                        <a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond purple_color"></i> <span>Packages</span></a>
                        <ul class="collapse list-unstyled" id="element">
                           <li><a href="/AddPackage/"><span>AddPackage</span></a></li>
                           <li><a href="/ViewPackage/"> <span>ViewPackage</span></a></li>

                        </ul>
                     </li>
                     <li class="active">
                        <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Events</span></a>
                        <ul class="collapse list-unstyled" id="apps">
                           <li><a href="/AddEvent/"><span>AddEvent</span></a></li>
                           <li><a href="/ViewEvent/"> <span>ViewEvent</span></a></li>

                        </ul>
                     </li>
                         <li class="active">
                        <a href="#dashboard3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond purple_color"></i> <span></span>Category</a>
                        <ul class="collapse list-unstyled" id="dashboard3">
                           <li><a href="/AddCategory/"><span>AddCategory</span></a></li>
                           <li><a href="/ViewCategory/"> <span>ViewCategory</span></a></li>
                        </ul>
                     </li>
                        <li class="active">
                        <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Products</span></a>
                        <ul class="collapse list-unstyled" id="additional_page">
                           <li>
                              <a href="/AddProduct/"> <span>AddProduct</span></a>
                           </li>
                           <li>
                              <a href="/ViewProduct/"> <span>ViewProduct</span></a>
                           </li>
                        </ul>
                     </li>
                     <li><a href="#app" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-briefcase blue1_color"></i> <span>Member Details</span></a></li>
                        <li>
                        <ul class="collapse list-unstyled" id="app">
                           <li><a href="/viewmemberregistration/"><span>View Member Details</span></a></li>
                        </ul>
                     </li>
                         <li><a href="#app1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-briefcase blue1_color"></i> <span>Feedback Details</span></a></li>
                         <li>
                        <ul class="collapse list-unstyled" id="app1">
                           <li><a href="/view_admin_trainer_feedback/"><span>View Trainer's Feedback</span></a></li>
                        </ul>
                     </li>
                        <li><a href="/admin_view_bookings"><i class="fa fa-map purple_color2"></i> <span>Members Bookings</span></a></li>

                         <li><a href="/LeaveMngt"><i class="fa fa-map purple_color2"></i> <span>Leave Management</span></a></li>
                        <li><a href="/SalaryDetails"><i class="fa fa-map purple_color2"></i> <span>Salary Details</span></a></li>
                        <li><a href="/AdminViewFeedback"><i class="fa fa-map purple_color2"></i> <span>Feedback</span></a></li>
                        <li><a href="/ViewMemberPayment"><i class="fa fa-paper-plane red_color"></i> <span>Member Payment</span></a></li>
                        <li><a href="/ViewMemberMonthlyPayment"><i class="fa fa-paper-plane red_color"></i> <span>Monthly Payment</span></a></li>
                     <li><a href="/"><i class="fa fa-paper-plane red_color"></i> <span>Log Out</span></a></li>

                    <!-- <li><a href="map.html"><i class="fa fa-map purple_color2"></i> <span>Map</span></a></li>
                     <li><a href="charts.html"><i class="fa fa-bar-chart-o green_color"></i> <span>Charts</span></a></li>
                     <li><a href="settings.html"><i class="fa fa-cog yellow_color"></i> <span>Settings</span></a></li>-->
                  </ul>
                  </ul>
               </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               <div class="topbar">
                  <nav class="navbar navbar-expand-lg navbar-light">
                     <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        <div class="logo_section">
                           <!--<a href="index.html"><img class="img-responsive" src="{% static 'admin/images/logo/logo.png' %}" alt="#" /></a>-->
                        </div>
                        <div class="right_topbar">
                           <div class="icon_info">
                              <ul>

                              </ul>
                              <ul class="user_profile_dd">
                                 <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="{% static 'admin/images/layout_img/fl.png' %}" alt="#" /><span class="name_user">Anjali Vijayan</span></a>
                                    <div class="dropdown-menu">
                                       <a class="dropdown-item" href="profile.html">My Profile</a>
                                       <a class="dropdown-item" href="settings.html">Settings</a>
                                       <a class="dropdown-item" href="help.html">Help</a>
                                       <a class="dropdown-item" href="#"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </nav>
               </div>
                 <script src="{% static 'admin/js/jquery.min.js' %}"></script>
      <script src="{% static 'admin/js/popper.min.js' %}"></script>
      <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
      <!-- wow animation -->
      <script src="{% static 'admin/js/animate.js' %}"></script>
      <!-- select country -->
      <script src="{% static 'admin/js/bootstrap-select.js' %}"></script>
      <!-- owl carousel -->
      <script src="{% static 'admin/js/owl.carousel.js' %}"></script>
      <!-- chart js -->
      <script src="{% static 'admin/js/Chart.min.js' %}"></script>
      <script src="{% static 'admin/js/Chart.bundle.min.js' %}"></script>
      <script src="{% static 'admin/js/utils.js' %}"></script>
      <script src="{% static 'admin/js/analyser.js' %}"></script>
      <!-- nice scrollbar -->
      <script src="{% static 'admin/js/perfect-scrollbar.min.js' %}"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <script src="{% static 'admin/js/custom.js' %}"></script>
      <script src="{% static 'admin/js/chart_custom_style1.js' %}"></script>
   </body>

   </html>