<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'adminsidebar.html' %}
<div class="main-panel">
       <div class="content-wrapper">
         <div class="row">
           <div class=" grid-margin stretch-card">
             <div class="card">
               <div class="card-body">
                 <h4 class="card-title"> Trainer Leave details</h4>
                 <p class="card-description">
                 </p>
                 <div class="table-responsive">
                   <table class="table">
                     <thead>
                       <tr>
                         <th>TRAINER ID</th>
                         <th>TRAINER NAME</th>
                         <th>Action</th>
                           <th>Action</th>


                        </tr>
                     </thead>
                     <tbody>
                     {% for i in data %}
                       <tr>
                         <td>{{forloop.counter}}</td>
                         <td>{{i.trainer_Name}}</td>


                    <td><a href="/TrainerAddLeave/{{i.id}}">add leave</a></td>
                     <td><a href="/TrainerAddSalary/{{i.id}}">add salary</a></td>
                       </tr>
                     {% endfor %}
                     </tbody>
                   </table>
                 </div>
               </div>
             </div>
               <div class="card mt-5">
               <div class="card-body">
                 <h4 class="card-title"> Doctor Leave details</h4>

                     <div class="table-responsive">
                   <table class="table">
                     <thead>
                       <tr>
                         <th>DOCTOR ID</th>
                         <th>DOCTOR NAME</th>
                         <th>Action</th>
                           <th>Action</th>


                        </tr>
                     </thead>
                     <tbody>
                     {% for i in data1 %}
                       <tr>
                         <td>{{forloop.counter}}</td>

                         <td>{{i.doctor_Name}}</td>
                    <td><a href="/DoctorAddLeave/{{i.id}}">add leave</a></td>
                           <td><a href="/AddDoctorSalary/{{i.id}}">add salary</a></td>


                       </tr>
                     {% endfor %}
                   </table>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>



</body>
</html>