<!DOCTYPE html>
{% load static %}
<html>
<head>

  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>FITZONE</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'member/css/bootstrap.css' %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{% static 'member/css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'member/css/responsive.css' %}" rel="stylesheet" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <!-- jQuery and Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html">
            <img src="{% static 'member/images/logo.png' %}" alt="" />
            <span>
              FITZONE
            </span>
          </a>
          <div class="contact_nav" id="">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link" href="/MemberViewEvent/">
                 <!-- <img src="{% static 'member/mages/location.png' %}" alt="" />-->
                  <span>Events</span>
                </a>
              </li>


                <li class="nav-item">
                <a class="nav-link" href="/">

                  <span>Logout</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ViewCart/">
                  <span>Cart</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/MemberViewSchedule/">
                  <span>schedule time</span>
                </a>
              </li>

  <li class="nav-item">
                    <a class="nav-link" href="/my_work_out_plan">WorkOut Plan</a>
                  </li>
              <li class="nav-item">
                <a class="nav-link" href="/MemberViewTrainer">
                  <span>MemberViewTrainer</span>
                </a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="/MemberMonthlyPayment">
                  <span>Fee payment</span>
                </a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="/MemberViewMonthlyPayment">
                  <span>Fee payment details</span>
                </a>
              </li>
  <li class="nav-item">
                <a class="nav-link btn btn-info p-3" href="/package_check">
                  <span>Package Upgrade</span>
                </a>
              </li>

            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section position-relative">
      <div class="container" >
        <div class="custom_nav2"  style="width:1400px;">
          <nav class="navbar navbar-expand-lg bg-warning">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="d-flex flex-column flex-lg-row align-items-center">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="/memberdashboard">Home <span class="sr-only">(current)</span></a>
                  </li>
     <li class="dropdown nav-item">
  <a class="tag_menu nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Report</a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item" href="/add_daily_report">Daily Report</a></li>
    <li><a class="dropdown-item" href="/view_daily_report">View Report</a></li>
    <li><a class="dropdown-item" href="/member_view_overall_report">Overall Report</a></li>
  </ul>
</li>

<li class="dropdown nav-item">
  <a class="tag_menu nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Health Details</a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item" href="/member_health_details">Add Details</a></li>
    <li><a class="dropdown-item" href="/view_health_details">View Details</a></li>
  </ul>
</li>

                  <li class="dropdown nav-item">
  <a class="tag_menu nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Feedback</a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item" href="/Trainer_For_Feedback">For Trainer</a></li>
    <li><a class="dropdown-item" href="/AddFeedback">For Gym</a></li>
  </ul>
</li>

                       <li class="dropdown nav-item">
  <a class="tag_menu nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Appointments</a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item" href="/Take_appointment">Take  Appointments</a></li>
    <li><a class="dropdown-item" href="/ViewAppointment">View Appointments</a></li>
  </ul>
</li>

                  <li class="nav-item">
                    <a class="nav-link" href="/memberviewproduct/">Products</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="/my_bookings">Bookings</a>
                  </li>
                   <li class="nav-item">
                    <a class="nav-link" href="/my_diet_plan">Diet Plan</a>
                  </li>

                </ul>

              </div>
            </div>
          </nav>
        </div>
           {% if messages %}
            {% for i in messages %}
            <h3 style="color:red;">{{i}}</h3>
            {% endfor %}
            {% endif %}
      </div>

      <div class="slider_container">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 col-md-7 offset-md-6 offset-md-5">
                    <div class="detail-box">
                      <h2>
                        Get Your Body
                      </h2>
                      <h1>
                        Fitness Here
                      </h1>
                      <p>
                        FITNESS IS NOT BEING BETTER THAN SOMEONE ELSE, I'TS  ABOUT BEING BETTER THAN YOU USED TO BE.....
                      </p>
                      <p>
                        ....NOTHING WILL WORK UNLESS YOU DO.......
                      </p>

                      <!--<div class="btn-box">
                        <a href="" class="btn-1">
                          Read More
                        </a>
                        <a href="" class="btn-2">
                          Get A Quote
                        </a>
                      </div>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 col-md-7 offset-md-6 offset-md-5">
                    <div class="detail-box">
                      <h2>
                        Get Your Body
                      </h2>
                      <h1>
                        Fitness Here
                      </h1>
                      <p>
                        FITNESS IS NOT BEING BETTER THAN SOMEONE ELSE,  I'TS  ABOUT BEING BETTER THAN YOU USED TO BE.....
                      </p>
                      <p>
                        ....NOTHING WILL WORK UNLESS YOU DO.......
                      </p>
                      <!--<div class="btn-box">
                        <a href="" class="btn-1">
                          Read More
                        </a>
                        <a href="" class="btn-2">
                          Get A Quote
                        </a>
                      </div>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 col-md-7 offset-md-6 offset-md-5">
                    <div class="detail-box">
                      <h2>
                        Get Your Body
                      </h2>
                      <h1>
                        Fitness Here
                      </h1>
                     <p>
                        FITNESS IS NOT BEING BETTER THAN SOMEONE ELSE,  I'TS  ABOUT BEING BETTER THAN YOU USED TO BE.....
                      </p>
                      <p>
                        ....NOTHING WILL WORK UNLESS YOU DO.......
                      </p>
                      <!--<div class="btn-box">
                        <a href="" class="btn-1">
                          Read More
                        </a>
                        <a href="" class="btn-2">
                          Get A Quote
                        </a>
                      </div>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- about section -->

  <!-- footer section -->


  <script>
    function openNav() {
      document.getElementById("myNav").classList.toggle("menu_width");
      document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style");
    }
  </script>
</body>
</html>
