<!DOCTYPE html>
<html>

<head>
    <title>Membership Table</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
{% include 'memberindex.html' %}
    <h2>Workout Details</h2>
    <table class="bg-light">
        <tr>
            <th>Member</th>
            <th>Month</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.memberid.first_name}}</td>
            <td>{{i.month}}</td>
            <td><a href="/view_member_workout/{{i.id}}">View</a></td>
        </tr>
       {% endfor %}
    </table>
</body>

</html>
